<a class="challenge-box-button" href=""> <!-- Add a class for active or inactive?? -->

  <div class="challenge-box">

    <div class="challenge-details">

      <span class="challenge-title">Shadow Challenge</span><br>
      <span class="challenge-subhead">18 / 36 Students Responded</span><br>
      <p class="challenge-description"><%- promptText %></p>

    </div>

  </div>

</a>
