<a class="challenge-box-button" href="#/gallery/<%- objectId %>">

  <div class="challenge-box">

    <div class="challenge-details">

      <span class="challenge-title"><%- challengeTitle %></span><br>
      <span class="challenge-subhead">18 / 36 Students Responded</span><br>
      <p class="challenge-description"><%- promptText %></p>

    </div>

  </div>

</a>
