<a class="class-button active" href="">
  <div class="class-element">
    <div class="class-name"><%- channelName %></div>
    <div class="class-data">2 Challenges &bull; 18 Students</div>
  </div>
</a>
