

  <div class="class-selection-container">
    <span class="classes-header">CLASSES</span>
    <div id="channels"></div>
  </div>
  <a class="add-class-link" href="create_class.html">+ Add New Class</a>


