<div class="row">

  <div class="col-md-3" id="class-selection">
  </div>

  <div class="col-md-9 channelDetails">

    <div>
      <img src="<%=url%>" id="channel-icon" class="channel-icon" />
      <p><span class="class-name-header"><%- channel.channelName %></span><br>2 Challenges &bull; 18 Students &bull; <a href="" class="edit-class-link">Edit Class</a></p>
    </div>
    <a href="#/create"><button class="btn btn-default addChallengeButton">Add New Challenge</button></a>
    <hr>

    <div id="challenges">

    </div>

  </div>

</div>
