<div class="row">

  <div class="col-md-3" id="class-selection">

    <div class="class-selection-container">

      <span class="classes-header">CLASSES</span>

      <div id="channels"></div>

      </a>

    </div>

    <a class="add-class-link" href="create_class.html">+ Add New Class</a>

  </div>

  <div class="col-md-9">

    <p><span class="class-name-header">4th Period Graphic Design</span><br>2 Challenges &bull; 18 Students &bull; <a href="" class="special-a">Edit Class</a></p>

    <form>
      <div class="form-group">
        <label for="challengeClass">Class Challenge Will Be In <span class="required">*</span></label>
        <select class="form-control" id="challengeClass">
          <option>Class 1</option>
          <option>Class 2</option>
          <option>Class 3</option>
        </select>
      </div>

      <div class="form-group">
        <label for="challengeName">Challenge Name <span class="required">*</span></label>
        <input type="text" class="form-control" id="challengeName" placeholder="">
      </div>

      <div class="form-group">
        <label for="challengeDescription">Challenge Description</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="challengeFileInput">Upload Challenge Image</label>
        <input type="file" id="challengeFileInput">
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>

  </div>

</div>
