<div class="row">

  <div class="col-md-3" id="class-selection">
    <div class="class-selection-container">
      <span class="classes-header">CLASSES</span>
      <div id="channels"></div>
    </div>
    <a class="add-class-link" href="create_class.html">+ Add New Class</a>
  </div>

  <div class="col-md-9">

    <p><span class="class-name-header"><%- channel.channelName %></span><br>2 Challenges &bull; 18 Students &bull; <a href="" class="edit-class-link">Edit Class</a></p>

    <div id="challenges">

    <a class="challenge-box-button" href="">

      <div class="challenge-box">

        <div class="challenge-details">

          <span class="challenge-title">Shadow Challenge</span><br>
          <span class="challenge-subhead">18 / 36 Students Responded</span><br>
          <p class="challenge-description">Take a photograph that uses shadow in an interesting way. Use your creativity. This is an indoor challenege. Use what we learned in class: remember, the shadow should add to the photograph. First person to submit gets 10 point of extra credit in class. Best use of shadow gets 50 points of extra credit.</p>

        </div>

      </div>

    </a>

    <!-- Current Challenge(s) go(es) here -->

    <a href="create_challenge.html"><button class="btn btn-default">Add New Challenge</button></a>

    <hr>

    <!-- Past challenges go here -->

  </div>

  </div>

</div>
