<div class="row">

  <div class="col-md-3" id="class-selection">
  </div>

  <div class="col-md-9">

    <p><span class="class-name-header"><%- channel.channelName %></span><br>2 Challenges &bull; 18 Students &bull; <a href="" class="edit-class-link">Edit Class</a></p>

    <a href="#/create"><button class="btn btn-default">Add New Challenge</button></a>
    <hr>
    
    <div id="challenges">

    </div>

  </div>

</div>
