
<h1>Create Challenge <small>Create a new challenge for your students to complete.</small></h1>
<hr>

<div class="row">
<form>
	<div class="col-xs-12 col-sm-5">
			<div class="form-group">
				<label for="challengeClass">Class Challenge Will Be In <span class="required">*</span></label>
				<select class="form-control" id="channelSelect">
		      <% _(channels).each(function(channel) { %>
		          <option value="<%= channel.objectId %>"><%= channel.channelName  %></option>
		      <% }); %>
		     </select>
			</div>

			<div class="form-group">
				<label for="challengeName">Challenge Name <span class="required">*</span></label>
				<input type="text" class="form-control" id="challengeTitle" placeholder="">
			</div>

			<div class="form-group">
				<label for="challengeFileInput">Upload Challenge Image</label>
				<input type="file" id="promptImage">
			</div>

			<div class="form-group">
				<label for="challengeDescription">Challenge Description</label>
				<textarea class="form-control" id="promptText" rows="3"></textarea>
			</div>

			<button type="submit" id="submit-challenge" class="btn btn-default">Publish To Class</button>
		</form>
	</div>
	<div class="col-xs-12 col-sm-7">
		<div id="channel-preview" class="channel-preview"></div>
		<div id="title-preview" class="title-preview"></div>
		<div id="imagePreview"></div>
		<div id="prompt-preview" class="prompt-preview"></div>
		<img src="images/iPhoneFrame.png" class="iphone-frame" />
	</div>
</div>