$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

$preview-left-margin: 100px;
$preview-screensize: 210px;
/* Custom Style.css from design */
*{
	font-family: Avenir Next;
}

.btn-default {
	background-color: #5C51A6;
	color: #ffffff;
}

.required {
	color: #5C51A6;
}

.navbar-custom {
    background-color: #5C51A6;
    color: #ffffff;
    border-radius: 0;
}

.active {
	font-weight: 600;
}

.navbar-custom .navbar-nav > li > a:hover {
	font-weight: 600;
}

.navbar-custom .navbar-nav > li > a {
    color: #ffffff;
    background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}

.grayed-out {
	border-color: #979797;
	color: #979797;
	opacity: 0.5;
}

#class-selection {
	background-color: #F3F3F3;
	height: 100%;
	margin-top: -20px;
	padding-bottom: 20px;
}

.class-selection-container {
	padding-top: 20px;
}

.classes-header {
	font-size: 20px;
	color: #979797;
	padding-top: 40px;
}

.class-button {
	text-decoration: none;
	color: #63626B;
}

.class-element:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #5C51A6;
}

.active .class-element {
	text-decoration: none;
	color: #ffffff;
	background-color: #5C51A6;
}

.class-button:hover{
	text-decoration: none;
}

.class-element {
	width: 240px;
	height: 50px;
	background-color: #D8D8D8;
	border-color: #979797;
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.class-name {
	font-size: 15px;
	font-weight: bold;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 6px;
}

.class-data {
	font-size: 12px;
	padding-left: 9px;
	padding-right: 9px;
}

.add-class-link {
	color: #979797;
}

.add-class-link:hover {
	color: #5C51A6;
	text-decoration: none;
}

.class-name-header {
	font-size: 25px;
	font-weight: bold;
}

.edit-class-link {
	color: black;
	text-decoration: none;
}
.edit-class-link:hover {
	color: #5C51A6;
	text-decoration: none;
}

.challenge-button {
	padding-top: 10px;
	padding-bottom: 10px;
}

.challenge-box {
	width: 100%;
	background-color: #F0F0F0;
	height: 200px;
	border-radius: 5px;
	color: #333;
	overflow: hidden;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.challenge-box:hover {
	background-color: #5C51A6;
	opacity: 1.0 !important;
	color: #ffffff;
}

.inactive .challenge-box {
	opacity: 0.5;
}

a .challenge-box-button {
	text-decoration: none;
}

.challenge-box-button:hover {
	text-decoration: none;
}

.challenge-title {
	font-size: 36px;
	font-weight: bold;
}

.challenge-subhead {
	font-weight: 500;
}

.challenge-description {
	padding-top: 5px;
	font-size: 13px;
}

.challenge-details {
	width: 90%;
}

/* END Custom Style.css from design */

/* START iOS preview */
.iphone-frame {
	height: 570px;
	position: absolute;
	top: 0;
	left: 85px;
	padding-bottom: 50px;
}

.channel-preview {
	margin-left: $preview-left-margin;
	margin-top: 75px;
	text-align: center;
	max-width: $preview-screensize;
	font-size: 14px;
}

.title-preview {
	font-size: 20px;
	font-weight: bold;
	margin-left: $preview-left-margin;
	margin-top: 10px;
	max-width: $preview-screensize;
}

.image-preview {
	max-width: 205px;
	max-height: 150px;
	margin-left: $preview-left-margin;
}

.prompt-preview {
	margin-top: 15px;
	font-size: 14px;
	max-width: $preview-screensize;
	margin-left: $preview-left-margin;
}

// .grid {
// 	width: 100%;
// }

// .grid-item {
// 	width: 33.33333%;
// 	padding: 10px;
// 	border-radius: 5px;
// }

.grid {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.grid-item {
	// flex-basis: 200px;
	max-width: 250px;
	margin: 0 10px;
}

.submission-image {
	width: 100%;
	border: 5px;
	border-radius: 5px;
	padding-bottom: 5px;
}

.submission-caption {
	font-size: 12px;
}

.success {
	background-color: #5C51A6;
	height: 60px;
	text-align: center;
	font-size: 24px;
	margin: 10px auto;
	color: white;
	padding-top: 10px;
}

.channel-icon {
	float: left;
	height: 50px;
	margin-right: 15px;
}


