$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

$preview-left-margin: 50px;
$preview-screensize: 230px;
/* Custom Style.css from design */
*{font-family:Avenir Next;}

.btn-default {
	background-color: #5C51A6;
	color: #ffffff;
}

.required {
	color: #5C51A6;
}

.navbar-custom {
    background-color: #5C51A6;
    color: #ffffff;
    border-radius: 0;
}

.active {
	font-weight: 600;
}

.navbar-custom .navbar-nav > li > a:hover {
	font-weight: 600;
}

.navbar-custom .navbar-nav > li > a {
    color: #ffffff;
    background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}

.grayed-out {
	border-color: #979797;
	color: #979797;
	opacity: 0.5;
}
/* END Custom Style.css from design */

.iphone-frame {
	height: 650px;
	position: absolute;
	top: 0;
	left: 25px;
}

.channel-preview {
	margin-left: $preview-left-margin;
	margin-top: 100px;
	text-align: center;
	max-width: $preview-screensize;
}

.title-preview {
	font-size: 24px;
	font-weight: bold;
	margin-left: $preview-left-margin;
	margin-top: 20px;
}

.image-preview {
	max-width: 230px;
	max-height: 180px;
	margin-left: $preview-left-margin;
}

.prompt-preview {
	margin-top: 15px;
	max-width: $preview-screensize;
	margin-left: $preview-left-margin;
}


